body {
  font-family: 'Roboto',sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(FOTO/Halaman\ \(2\)1.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease;
}

#modal .modal-overlay,
#modal .sidebar {
  display: none;
}

#modal:target .modal-overlay,
#modal:target .sidebar {
  display: block;
}

#modal:target .modal-overlay {
  opacity: 1;
  visibility: visible;
}

#modal.active {
  display: block;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 15vw;
  height: 100%;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
  z-index: 1050;
  overflow-y: auto;
}

#modal:target .sidebar {
  transform: translateX(0);
  opacity: 1;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar a {
  display: block;
  color: #ecf0f1;
  padding: 10px;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 10px;
}

.sidebar a:hover {
  background-color: #34495e;
}

.close-btn {
  background-color: #353535;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px;
  display: block;
  border-radius: 4px;
  background-color: #2c3e50;
  margin-bottom: 10px;
}
.dropdown-content {
  max-height: 0;
  overflow: hidden;
  background-color: #34495e;
  transition: max-height 0.4s ease;
  padding-left: 20px;
  margin-top: 5px;
}

.dropdown:hover .dropdown-content {
  max-height: 200px;
}

.dropdown-content a {
  padding: 10px;
  color: #ecf0f1;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #2c3e50;
}

.tombol {
margin-top: -13vw;
width: 100%;
height: 4vw;
background-color: black;
position: fixed;
z-index: 1050;
}

.tombol .burger {
float: left;
padding: 1vw;
position: fixed;
}

.top-right {
font-size: 1.5vw;
font-family: 'Roboto';
color: rgb(255, 255, 255);
padding: 1vw;
}

.header-sekolah .logo-navbar img {
width: 3vw;
height: 3vw;
position: fixed;
right: 13vw;
padding-top: 0.5vw;
}

/* Footer */
.logo-image {
width: 6vw; 
height: auto;
}

.navbar-nav {
font-family: 'Roboto';
}

.navbar-nav .nav-link {
color: black !important;
font-size: 0.9vw;
}

.text-dark i {
font-size: 2vw;
}


/* content */

.head-berita {
display: grid;
grid-template-columns: repeat(3, 1fr);
align-items: center;
column-gap: 1vw;

font-size: 2vw; 
font-weight: bold;
font-family: 'Roboto';
margin-top: 2vw;
}

.head-berita::before {
content: "";
height: 0;
background-color: #000;
display: block;
width: 0;
}

.head-berita::after {
content: "";
height: 0.2vw;
width: 60vw;
background-color: #000;
display: block;
margin-right: 15vw;
margin-left: -5vw;
}

.isi-berita {
margin-right: 10.5vw;
margin-left: 10.5vw;
flex-wrap: wrap;
}

/* Berita 1 */
.isi-berita .berita1 {
margin: 5vw;
display: flex;
background-color: darkgrey 10vw 20vw;
}

.isi-berita .berita1 img {
margin-bottom: 3vw;
height: 13vw;
width: 20vw;

}

.isi-berita .berita1 .judul1 {
padding-left: 4vw;
font-family: 'Roboto';
font-weight: bold;
font-size: 1.7vw;
}

.isi-berita .berita1 .tanggal1 {
font-family: sans-serif 'Roboto';
padding-top: 3vw;
margin-left: -29.5vw;
}

.isi-berita .berita1 .isi1 {
padding-top: 5vw;
margin-left: -8.4vw;
}

/* Berita 2 */
.isi-berita .berita2 {
margin: 5vw;
margin-top: -4vw;
display: flex;
}

.isi-berita .berita2 img {
margin-bottom: 3vw;
height: 13vw;
width: 20vw;

}

.isi-berita .berita2 .judul2 {
padding-left: 4vw;
font-family: 'Roboto';
font-weight: bold;
font-size: 1.7vw;
}

.isi-berita .berita2 .tanggal2 {
font-family: sans-serif 'Roboto';
padding-top: 3vw;
margin-left: -16.2vw;
}

.isi-berita .berita2 .isi2{
padding-top: 5vw;
margin-left: -9.8vw;
}

/* Berita 3 */
.isi-berita .berita3 {
margin: 5vw;
margin-top: -4vw;
}

.isi-berita .berita3 img {
margin-bottom: 3vw;
height: 13vw;
width: 20vw;

}

.isi-berita .berita3 .judul3 {
padding-left: 24vw;
font-family: 'Roboto';
font-weight: bold;
font-size: 1.7vw;
margin-top: -16vw;
}

.isi-berita .berita3 .tanggal3 {
font-family: sans-serif 'Roboto';
margin-top: -0.5vw;
margin-left: 24.2vw;
}

.isi-berita .berita3 .isi3{
padding-top: 5vw;
margin-left: 24.2vw;
margin-top: -5vw;
padding-bottom: 10vw;
}

/* Sambutan Kepala Sekolah  */
.kepsek {
  padding: 13vw;
  padding-top: 30vw;
  padding-left: 18vw;
  align-items: center;
}

.kepsek img {
  width: 26vw;
  height: 16vw;
  margin-top: -2vw;
}

.kepsek .judul {
  padding-left: 28vw;
  margin-top: -16.3vw;
  font-size: 2vw;
}

.kepsek .isi {
  padding-left: 28vw;
}

/* Visi Misi */
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 18vw;
  padding-top: 30vw;
  font-family: 'Roboto';
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 1vw;
  text-align: center;
}

.grid-itemmisi {
  background-color: rgba(255, 132, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 1vw;
  text-align: center;
}

.grid-itemvisi {
  background-color: rgba(255, 132, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 1vw;
  text-align: center;
}
.grid-itemtujuan {
  background-color: rgba(255, 132, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 1vw;
  text-align: center;
  position: center;
}


/* Toko */
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 8vw;
}

.card {
  width: 20vw;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 1vw;
  transition: transform 0.5s ease;
}

.card:hover{
  transform: scale(1.05);
}

.card img {
 width: 100%;
 height: 18vw;
 padding: 3vw;
 margin-top: -1vw;
}

.card-content {
  padding:2vw;
}

.card-content h3{
  font-size: 1.5vw;
  margin-bottom: 1.3vw;
  margin-top: -2.5vw;
}

.card-content p{
  color: #666;
  font-size: 15px;
  line-height: 1.3;
}

.card-content .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #333;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #fff;
}

/* Perpus */
.container-perpus {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding:200px;
  padding-top: 30vw;
}

.cover-perpus {
  width: 300px auto;
  background-color: #f0f0f0;
  border-radius: 0.3vw;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 1vw;
  transition: transform 0.5s ease;
}

.cover-perpus:hover{
  transform: scale(1.1);
}

.cover-perpus img {
 width: 100%;
 height: 18vw;
 padding: 0vw;
 border-radius: 0.3vw;
}

.content-perpus {
  padding:2vw;
}

.content-perpus h3{
  font-size: 1.2vw;
  margin-bottom: 1.3vw;
  margin-top: -1vw;
}

.content-perpus p{
  color: #666;
  font-size: 0.9vw;
  line-height: 1.3;
}

/* Data Guru  */
.data-guru .container {
  padding: 3vw;
  padding-top: 30vw;
  justify-content: center;
  align-items: center;

}

/* Galery Foto  */
.img-thumbnail {
  max-width: 100%;
  height: 350px;
  object-fit: cover;
}

.card {
  position: absolute;
  z-index: 1;
}

/* Tatib */
.tatib .container-tatib {
  padding: 17vw;
  padding-top: 25vw;
  align-items: center;
}

.custom-card {
  width: 20vw;
  height: 1vw;
  margin: auto;
  gap: 5vw;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  border: 1px solid #ddd; 
  border-radius: 8px; 
}

.custom-card iframe {
  display: block;
  width: 460px;
  height: 315px;
  margin: auto;
}

.custom-card .card-body {
  text-align: center;
}
